<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Simple</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <div class="ml-auto d-flex justify-content-center align-items-center">
      <a
        class="nav-link d-inline position-relative"
        style="cursor: pointer;"
        [routerLink]="['stores', 'checkout']">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        <span
          class="rounded-circle border border-dark position-absolute d-flex justify-content-center align-items-center"
          style="width: 24px; height: 24px; top: 0; left: 0; background-color: #f8f9fa;"

        >{{ totalCartCount }}</span>
      </a>
      <p class="d-inline-block m-0">Total: <span>{{ totalCartPrice/100 | currency }}</span> USD</p>


    </div>
  </div>
</nav>

<ng-template #template>
  <div class="modal-body text-center">
    <p>You have selected an item from another store.</p>
    <button type="button" class="btn btn-default mb-3" (click)="cancelAddingSelectedItem()">Cancel adding the selected item</button>
    <button type="button" class="btn btn-danger" (click)="clearCurrentCart()">Clear current cart</button>
  </div>
</ng-template>
