<div class="container" *ngIf="cart$ | async as cart">
  <div class="row">
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td>{{ item.name }}</td>
              <td>{{ item.count }}</td>
              <td>{{ item.price_cents / 100 | currency }} USD</td>
              <td>{{ item.count * (item.price_cents / 100) }} USD</td>
            </tr>
            <tr>
              <td colspan="3">Total</td>
              <td>{{ cartService.calculateCartProdCountsAndPrice(cart).price / 100 | currency }} USD</td>
            </tr>
          </tbody>
        </table>
    </div>

    <button class="btn mx-auto" [ngClass]="{'btn-secondary': cart.length === 0, 'btn-success': cart.length !== 0}" [disabled]="cart.length === 0" (click)="showSuccessMessage()">Proceed</button>
  </div>

  <ng-template #success>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- This is a successful message. -->
      {{ cart.length > 0 ? 'This is a successful message.' : 'Your cart is Empty' }}
    </div>
  </ng-template>
</div>

